.cardpequeno-conteiner {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 50px;
    width: 100%;
    padding: 15px 30px;
    margin: 10px auto;
}

.cardpequeno-conteiner > img {
    width: 30px;
    margin-right: 10px;
}